<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Project #2</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.8/dist/handlebars.min.js"></script>
<body>
  <div class="">
    <header class="">
      <nav class="">
        <a href="#" class="Logo">ClimateCloset</a>
        <ul>
            <li>
              <a href="#" class="">Wardrobe reccommendations based on the weather!</a>
            </li>

            <li>
              <a href="/login" class="">Click here to Login</a>
            </li>
        </ul>
    </nav>
    </header>
      <main class="">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>