<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Climate Closet</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.8/dist/handlebars.min.js"></script>
<body class="bg-black">
  <div class=" text-white border-b-4">
    <header class="">
      <section class="text-4xl flex space-x-96 pb-4">
        <img src="../../public/images/IMG_2195.png" alt="ClimateClosetLogo">
      </section> 
    </div>
  </header>
  <h1>Climate Closet</h1>
    </header>
      <main class="">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>