<head>
  <meta charset="UTF-8">
  <title>Project #2</title>
</head>

<body>
  <div class="">
    <header class="">
      <h1>
        Project #2
      </h1>
    </header>
      <main class="">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>