<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Climate Closet</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.8/dist/handlebars.min.js"></script>
<body class="bg-black">
  <div>
    <header class="header">
      <a href="/"><img class="images" src='images/FinalLogo.png'alt="ClimateClosetLogo"></a>
      <section class="navigation">
        <a class="nonstyle" href="/profile">Profile</a>
      </section>
      <section class="navigation margin-right">
        <a class="nonstyle" href="/login">Login</a>
      </section> 
    </div>
  </header>
    </header>
      <main class="">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>