<div class="row">
  <div class="col-auto">
    <h2>Welcome, <span id="name"></span>!</h2>
  </div>
</div>

<div class="col-md-6">
    <h2>Customize Profile</h2>

    <form class="form customize-form">
      <div class="form-group">
        <label for="location">Location:</label>
        <input class="form-input" type="text" id="location" />
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <input class="form-input" type="text" id="gender" />
      </div>
      <div class="form-group">
        <label for="style">Style:</label>
        <input class="form-input" type="text" id="style" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="weatherinfo">WEATHER</div>
<div id="weatherbox">Your locations weather will show here</div>

<div class="ebayShopping">EBAY ADDS</div>
<div id="ebayAdds">Your clothing recommendations will show here</div>

<script src="/public/js/profile.js"></script>
